/* Inicio.scss */
/* Estilos para el componente Inicio */
.container-all {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
  
    .item-slide {
      /* Estilos para los elementos en el carrusel */
      /* ... */
    }
  
    .banner-text {
      h1 {
        font-size: 24px;
        color: #333;
      }
  
      p {
        /* Estilos para el párrafo */
        /* ... */
      }
    }
  }
  
  /* Estilos para el sistema de navegación */
  nav {
    /* Estilos para la barra de navegación */
    /* ... */
  }
  
  /* Estilos para el pie de página */
  footer {
    /* Estilos para el pie de página */
    /* ... */
  
    .redessociales {
      /* Estilos para las redes sociales */
      /* ... */
    }
  
    .at2 {
      /* Estilos para el aviso de derechos reservados */
      /* ... */
    }
  
    .accesosdirectos {
      /* Estilos para los accesos directos */
      /* ... */
    }
  }
  
  /* Define más estilos según tus necesidades */
  